<link rel="stylesheet" href="/style.css">
<body class="corporate">
  <h1><%= user.name %></h1>

  <h2>Skills</h2>
  <ul>
    <% user.skills.forEach(skill => { %>
      <li><%= skill %></li>
    <% }) %>
  </ul>

  <h2>Projects</h2>
  <ul>
    <% user.projects.forEach(project => { %>
      <li><%= project %></li>
    <% }) %>
  </ul>
</body>//corporate.ejs