<!DOCTYPE html>
<html>
<head>
  <title>Portfolio Generator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="home">
  <h1>Portfolio Generator</h1>
  <a href="/create" class="btn">Create Portfolio</a>
</div>

</body>
</html>
